<!-- Container -->
<div class="container py-5 text-center">
  <%= render 'hero' %>
  <%= render 'creation_area' %>
  <%= render 'features' %>
  <%= render 'users' %>
  <%= render 'pricing' %>
  <%= render 'team' %>
</div>
