<%= form_with(model: @match, local: true) do |f| %>
  <div class="card-body">
    <% if @match.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h4>
        <ul>
          <% @match.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row g-3">
      <div class="col-md-4">
        <div class="mb-3">
          <%= f.label :location_type, "match location", class: "form-label" %>
          <%= f.select :location_type,
              [['home game', 'home'], ['away game', 'away']],
              { include_blank: 'select location' },
              {
                class: "form-select",
                required: true
              }
          %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="mb-3">
          <%= f.label :opponent_id, "opponent", class: "form-label" %>
          <%= f.collection_select :opponent_id,
              @opponents,
              :id,
              :name,
              { include_blank: 'select opponent' },
              {
                class: "form-select",
                required: true
              }
          %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="mb-3">
          <%= f.label :result, class: "form-label" %>
          <%= f.text_field :result, class: "form-control", required: true %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="mb-3">
          <%= f.label :season, class: "form-label" %>
          <%= f.select :season,
              [
                ['2024/2025', '2024/2025'],
                ['2023/2024', '2023/2024']
              ],
              { include_blank: 'select season' },
              {
                class: "form-select",
                required: true
              }
          %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="mb-3">
          <%= f.label :competition, class: "form-label" %>
          <%= f.text_field :competition, class: "form-control", placeholder: "top 12", required: true %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="mb-3">
          <%= f.label :date, class: "form-label" %>
          <%= f.date_field :date, class: "form-control", required: true %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="mb-3">
          <%= f.label :description, class: "form-label" %>
          <%= f.text_field :description, class: "form-control", placeholder: "optional match description" %>
        </div>
      </div>
    </div>

    <div class="rugby-formation">

      <% MatchesHelper::RUGBY_POSITIONS.reverse.each_with_index do |position, i| %>
        <div class="player-slot" style="<%= get_home_position(position[:number]) %>">
          <%= f.fields_for :player_matches, @match.player_matches[i] do |pm_form| %>
            <div class="player-shirt">
              <%= image_tag('backshirt.PNG') %>
              <span class="shirt-number"><%= position[:number] %></span>
              <div class="shirt-plus">
                <button type="button"
                        class="btn btn-primary btn-circle shirt-plus"
                        data-bs-toggle="modal"
                        data-bs-target="#playermodal-<%= position[:number] %>">
                  Add
                </button>
              </div>
            </div>
            <%= pm_form.hidden_field :position, value: position[:number] %>
            <div class="modal fade" id="playermodal-<%= position[:number] %>" tabindex="-1" aria-labelledby="playermodallabel-<%= position[:number] %>" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="playermodallabel-<%= position[:number] %>">select player for position <%= position[:number] %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                  </div>
                  <div class="modal-body">
                    <%= pm_form.collection_select :player_id, current_user.team.players, :id, :name, { include_blank: true }, class: "form-select" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="mt-4">
      <%= f.submit submit_text, class: "btn btn-primary" %>
      <%= link_to "cancel", matches_path, class: "btn btn-secondary ms-2" %>
    </div>
  </div>
<% end %>
