    <div class="stats" >
      <% stats.each do |stat| %>
        <!-- Category name centered above -->
        <div class="row">
          <div class="col-12 text-center">
            <span class="stat-label" style="color: #fff; font-weight: bold; font-size: 1em;">
              <%= stat[:name] %>
            </span>
          </div>
        </div>
        <!-- Bar row -->
        <div class="stat-row d-flex align-items-center justify-content-center mb-3" style="margin-top: -2px;">
          <!-- Home value -->
          <div class="stat-value text-end pe-2" style="width: 60px; color: #fff;">
            <%= stat[:percent] ? "#{stat[:home]}%" : stat[:home] %>
            <% if stat[:home_detail] %>
              <span style="font-size: 0.8em; color: #aaa;">(<%= stat[:home_detail] %>)</span>
            <% end %>
          </div>
          <!-- Centered bar container -->
          <div class="stat-bar-center d-flex align-items-center justify-content-center" style="width: 100%; min-width: 300px; background:rgba(0, 30, 41, 0.31)">
            <!-- Home bar (left, grows from center to left) -->
            <div class="stat-bar stat-bar-home" style="width: <%= stat[:home].to_f %>%;"></div>
            <!-- Away bar (right, grows from center to right) -->
            <div class="stat-bar stat-bar-away" style="width: <%= stat[:away].to_f %>%;"></div>
          </div>
          <!-- Away value -->
          <div class="stat-value ps-2" style="width: 60px; color: #fff;">
            <%= stat[:percent] ? "#{stat[:away]}%" : stat[:away] %>
            <% if stat[:away_detail] %>
              <span style="font-size: 0.8em; backgroung: #aaa;">(<%= stat[:away_detail] %>)</span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>


<style>
  .stats {
  }
.stat-bar-center {
  display: flex;
  flex-direction: row;
  height: 14px;
  background: #14212b;
  border-radius: 7px;
  overflow: hidden;
}
.stat-bar-home {
  background: rgb(247 37 133 / 70%);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 100%;
  transition: width 0.3s;
}
.stat-bar-away {
  background: rgb(77 201 246 / 70%);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 100%;
  transition: width 0.3s;
}
.stat-label {
  font-size: 1em;
  white-space: nowrap;
  font-weight: bold;
}
.stat-row {
  min-height: 32px;
  width: 100%;
  padding-left: 0.02em;
  padding-right: 0.02em;
}
</style>
